<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #9bb6d1;
        }

        .container {
            margin-top: 150px;
        }

        td {
            padding: 30px;
        }

        /* Add more custom styles as needed */
    </style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <center>
                    <table>
                        <tr>
                            <td>
                                <a href="/admin_login/create_user" class="btn btn-primary">Create User</a>
                            </td>
                            <td>
                                <a href="/admin_login/create_session" class="btn btn-secondary">Create Session</a>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>
</body>


</html>